@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Condensed:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Condensed:wght@300;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.card {
  height: 611px;
  width: 343px;
  background-color: #fff;
  border-radius: 10px;
}

.card-head {
  background-image: url('images/image-product-mobile.jpg');
  background-size: cover;
  height: 240px;
  width: 343px;
  border-radius: 10px 10px 0 0;
}

section.card-body {
  height: 371px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.card-sub-title {
  letter-spacing: 5px;
  font-weight: 700;
}

.card-body h1 {
  font-family: 'Fraunces';
  font-size: 32px;
  font-weight: 700;
}

.card-description {
  line-height: 23px;
  color: #6c7289;
}

.price-container {
  display: flex;
  align-items: center;
}

.new-price {
  font-family: 'Fraunces';
  font-size: 32px;
  font-weight: 700;
  margin-right: 19px;
  color: #3d8168;
}

.old-price {
  font-size: 13px;
  color: #6c7289;
  text-decoration: line-through;
}

button {
  height: 48px;
  width: 295px;
  border-radius: 8px;
  background-color: #3d8168;
  color: #fff;
  font-size: 14px;
  font-family: 700;
  border: 0;
}

button:hover {
  background-color:#1A4032;
  cursor: pointer;
}

button i {
  margin-right: 12px;
}

@media(min-width: 760px) {
  .card {
    width: 600px;
    height: 450px;
    display: flex;
  }

  .card-head {
    background-image: url('images/image-product-desktop.jpg');
    width: 50%;
    height: 450px;
    border-radius: 10px 0 0 10px;
  }

  section.card-body {
    width: 50%;
    height: 450px;
    padding: 32px;
  }

  button {
    width: 238px;
  }
}